$color-white: #ffffff;
$theme-color: #1F304C;
$theme-background: #05001b;
$theme-light-color: #0A0039;

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    } //1800px
  }
}

@mixin zero-space {
  margin: 0;
  padding: 0;
}
@mixin side-space {
  margin: 0 1.4rem;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin flex-row-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center
}


@keyframes pulsation {
  from {
    transform: scale(.9)
  }
  to {
    transform: scale(1.3)
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  @include respond(tab-port) {
    font-size: 53%; // 1rem = 8px, 8/16 * 100 = 50%
  }

  @include respond(phone) {
    font-size: 50%; // 1rem = 8px, 8/16 * 100 = 50%
  }
}
  
input,
textarea,
button,
select,
a,
label,
span,
div,
p{
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}


body {
  margin: 0;
  // font-family: benton-sans,'Helvetica Neue',helvetica,arial,sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-size: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
